<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="header.css" />
    <title><%= title %></title>

    <!-- Styles -->
    <style></style>
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% posting.forEach(function(post){ %>
      <li>
        <a href="/posting/<%=post.id %>"><%= post.title %></a>
      </li>
      <% }) %>
      <li><%= message %></li>
    </ul>
  </body>
</html>
